.emph, em {
  color: #E32D00 ;  /*#ff5500 #D14300*/
  font-style: normal;
  font-weight: 450;
}

strong {
  color: #404040;  
}


.pack {
  color: #1f65b7; /* #990071 #AC9CFF #e41a1c*/
  font-weight: 400;
}

.func {
  color: #007020;   /*#007199 #00CBB6; #984ea3; can just use `` instead*/
  font-weight: 400;
}

.objclass {
  color:  #947100;  /*#AAB400 #4daf4a; #FFC5D0*/
  font-weight: 400;
}

a {
  color: #1e90ff;  /*dodgerblue*/
}

pre {
  box-sizing: border-box;
  left: 0; /* This changes where the code chunk box actually starts */ 
  /* padding: 10px 0 10px 60px; /* Change the last value here to move the text left or right */
  position: relative;
  width: 100%; /* This changes where the code chunk box ends on the right side */
  font-size: 75%; /*changes output size; and comments*/
  /*border: 10px solid #ff5500;*/  /*code block and results border*/
  /*background-color:#ff5500;*/   /* results background*/
  
}

#TOC{
  font-size: 75%;
}
  
}

